.header {
    text-align: center;
}

.header h1 {
    margin-top: 35px;
    margin-bottom: 35px
}

.header-nav {
    background-color: antiquewhite;
    height: 70px;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;


    display: flex;
    align-items: center;
    justify-content: center;

}


.nav-button {
    border-radius: 20px;
    border: 1px solid #F2DEC4;
    background-color: #eebd7d;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 0 10px 0 10px;
    text-align: center;
}