body#main {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fef4dc;
}

/* 地図側 */
.main-content {
  display: flex;
  flex: 1;
  height: calc(100vh - 120px);
}

.create-form {
  display: flex;
}
